.background-black{
    background: black;
    color: white;
    .center-vertical {
        padding-left: 42px;
        align-content: center;
    }
    
    .logo{
        height: 40%;
        padding-right: 42px;
    }
    .conteiner-logo{
        height: 50%;
    }
}

