.text-red{
    color: red;
}
.text-green{
    color: green;
}

.select-page{
    border-right: none;
    border-top: none;
    border-left: none;
}

.icon-darkgrey{
    color: darkgrey;
}
.icon-next{
    padding-left:15px ;
}

.container-table{
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 97px;
    padding: 22px;
    border: 2px solid #e9e9e9;
}
.input-search{
    width: 80%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #e9e9e9;
}