.header-modal{
    background: #b52c2d;
    .text{
        color: white;
    }
}

.modal{
    th{
        color: #939393;
    }
}
.close-modal{
    border: none;
    background: white;
    color: red;
}
.icon-next{
    padding-left:15px ;
}
.select-page{
    border-right: none;
    border-top: none;
    border-left: none;
}